<div class="Activity">
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn following">Following</button>
      </a>
    </div>
  </div>
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn follow">Follow</button>
      </a>
    </div>
  </div>
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn following">Following</button>
      </a>
    </div>
  </div>
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn follow">Follow</button>
      </a>
    </div>
  </div>
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn following">Following</button>
      </a>
    </div>
  </div>
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn follow">Follow</button>
      </a>
    </div>
  </div>
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn following">Following</button>
      </a>
    </div>
  </div>
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn follow">Follow</button>
      </a>
    </div>
  </div>
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn following">Following</button>
      </a>
    </div>
  </div>
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn follow">Follow</button>
      </a>
    </div>
  </div>
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn following">Following</button>
      </a>
    </div>
  </div>
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn follow">Follow</button>
      </a>
    </div>
  </div>
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn following">Following</button>
      </a>
    </div>
  </div>
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn follow">Follow</button>
      </a>
    </div>
  </div>
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn following">Following</button>
      </a>
    </div>
  </div>
  <div class="Activity-components">
    <div class="Activity-components-avatar">
      <img src="media/profile/yigit.jpg" alt="">
      <div class="title">
        Yiğit Çakmak
        <div class="alt-title">
          Started following you. <span> 2d</span>
        </div>
      </div>
    </div>
  
    <div class="Activity-components-button">
      <a href="#">
        <button class="btn follow">Follow</button>
      </a>
    </div>
  </div>
  
</div>