<div class="FollowRequest">

  <div class="FollowRequest-Request">
    <div class="icon">
      <span>76</span>
    </div>
    <div class="title">
      Follow Requests
      <div class="alt-title">
        Approve or ignore requests
      </div>
    </div>
  </div>
  <div class="FollowRequest-Icon">
    <svg class="rightArrow" viewBox="0 0 10 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" fill-rule="evenodd">
            <g id="Day-1145-Recipe-Page-UI-Components---real-pixels" transform="translate(-1246.000000, -276.000000)">
                <g id="Group-3" transform="translate(300.000000, 143.000000)">
                    <g id="Group-2" transform="translate(929.000000, 120.000000)">
                        <g id="Group" transform="translate(22.000000, 22.000000) rotate(-90.000000) translate(-22.000000, -22.000000) translate(7.000000, 7.000000)">
                            <polygon id="Path" points="0 0 30 0 30 30 0 30"></polygon>
                            <polyline id="Path" stroke-linecap="round" stroke-linejoin="round" points="7.5 11.25 15 18.75 22.5 11.25"></polyline>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
  </div>
</div>