.Stories {
  background: $primaryBackground;
  box-shadow: $boxShadow;
  padding: 12px 0;

  &-header{
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9px;
    h4{
      font-size: 11px;
    }
  }
  &-content{    
    overflow-x: auto;    
    scroll-snap-type: x mandatory;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    .story{
      &:first-child{
        padding-left: 12px;
      }
      &:last-child{
        padding-right: 12px;
      }
      scroll-snap-align: start;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 18px;
      .avatar{
        padding: 1rem;
        position: relative;
        background: $storiesGradient;
        padding: 1px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;   
        margin-bottom: 7px;     
        img{
          border: $storiesAvatarBorder;
          border-radius: 50%;
          max-width: 56px;
          min-width: 56px;
          height: 56px;
          object-fit: cover;
          flex-shrink: 0;
        }
      }
      p{
        color: #000;
        text-align: center;
        white-space: nowrap;
      }

      &.live{
        .avatar{
          background: $liveGradient;

          &::after{
            content: 'live';
            position: absolute;
            width: 24px;
            height: 14px;
            top: 93%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $liveTextGradient;
            text-align: center;
            font-size: 7px;
            text-transform: uppercase;
            color: $liveTextColor;          
            border: 1px solid $liveBorderColor;
            border-radius: $liveTextRadius;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

  }
}